<% @students = Student.all %>
<% @students.each do |student| %><br>
<div>
  <%= student.first_name + student.last_name%><br>
  <% student.grades.each do |grade| %>
<li><%= grade.behavior %> - <%= grade.letter_grade %></li>
<% end %></div>
<% end %>
