<h2>Student Profile</h2><br>

  <p><%= @student.first_name %> <%= @student.last_name %></p><br>


  <% if user_signed_in? %>
    <%= link_to "Edit Student Grades", edit_student_grade_path(@student, @grade) %>
    <%= link_to "Add Student Grades", new_student_grade_path(@student, @grade) %>
    <% else %>
      You must be logged in to view this page.
      <% end %>
