<h1>All Available Courses</h1><br>
<% @courses.each do |course| %>
<li><%= course.number %> - <%= course.name %>
<% @course_id = course.id %>
<%= link_to "View", course_path(@course_id) %></li>
<% end %>
<br>

  <%= link_to "Create a New Course", new_course_path %>
