<h1>My Profile</h1>
<h2><p><%= @teacher.username %></h2></p>
<h3><p>Expert in: <%= @teacher.subject %></p>
  <p><%= link_to "See Fall 2017 Students", students_path %></p><br>
  <p><%= link_to "Log out", logout_path %></p>
